<!DOCTYPE html>
<html ng-app="test">
<head lang="ru">
    <!--<script src="jquery/src/jquery.js"></script>-->
    <!--<script src="angular/angular.js"></script>-->
    <script src="libs/libs.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/app.css">

    <meta charset="utf-8">
    <meta charset="UTF-8">
    <title>Test app</title>
</head>
<body>
    <button type="button" class=".test btn btn-lg btn-primary">Default</button>
    <section class=".col-md-4" ng-controller="myController">
        <div>{{Name}}</div>
        Name:<div ng-bind="Name"></div>
        <input type="submit" value="Submit" ng-click="TestClick()"/>
    </section>

<section class="header" ng-controller="signalRController">
    Header
    <input type="submit" value="Submit" ng-click="StartSignalR()"/>
</section>
<section class="content">
    Content
</section>
<section class="footer">
    Hello
</section>
</body>
</html>